.black-screen {
    position: fixed;
    opacity: 0;
    bottom: 0;
    top: 0;
    left: 100%;
    right: 0;
    background-color: black;
    transition: all 0.5s;
}

.black-screen-active {
    left: 50%;
    opacity: 0.5;
}