@import url('../../style-variables/variables.css');



.delete-twitt {
    color: var(--red);
}

.confirm-twitt-delete-container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20%;
    background-color: red;
    z-index: 7;
    opacity: 0;
    transition: opacity .5s;
    left: 50%;
    transform: translate(-50%, 50%);
    pointer-events: none;
    background-color: var(--light-white);
}

.confirm-twitt-delete-active {
    opacity: 1;
    pointer-events: all;
}

.confirm-twitt-delete-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.confirm-twitt-delete-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    text-align: center;
}

.confirm-twitt-delete-buttons-container .input-label-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-label-container input, .input-label-container label {
    width: 50%;
}