@import url('../../../style-variables/variables.css');

.navbar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 7;
    background-color: white;
    padding: 8% 3% 0 3%;
    transform: translateX(-150%);
    transition: transform 0.3s;
    background-color: var(--dark-blue);
}

.navbar-container * {
    color: var(--light-white);
}

.navbar-container-active {
    transform: translateX(0);
}


.first-row-wrapper {
    height: 50%;
}

.close-navbar {
    font-size: 1rem;
    color: black;
}

ul {
    list-style: none;
}


.username-container {
    margin-top: 10%;
}

.username-container p {
    font-weight: 700;
}

.user-stats-container {
    margin: 15% 0;
}

.user-followers {
    margin-bottom: 3%;
}

.mobile-navbar {
    margin-top: 5%;
    height: 15%;
}

.mobile-navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mobile-navbar-item {
    margin: 5% 0;
    display: flex;
    align-items: center;
}

.mobile-navbar-item i {
    font-weight: 700;
    margin-right: 3%;
}

.second-row-wrapper {
    height: 50%;
    padding: 10% 0;
    display: flex;
    align-items: flex-end;
}
