.create-comment-container {
    margin: 5% auto;
    display: flex;
    padding: 0 6%;
}

.create-comment-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.create-comment-btn {
    margin-left: auto;
    width: 60%;
}

.create-comment-form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border: 1px solid grey;
    padding: 3%;
    border-radius: 5px;
}
