:root{
    --purple: #bc75f2;
    --gold: #bba059;
    --blue: #0667f8;
    --red: #ff0404;
    --grey: #b4b4b4;
    --yellow: #facd06;
}

.star {
    color: var(--yellow);
}

.full-star {
    color: var(--yellow);
   
}