:root{
    --purple: #bc75f2;
    --gold: #bba059;
    --blue: #0667f8;
    --red: #ff0404;
    --grey: #b4b4b4;
    --yellow: #facd06;
    --light-white: #F5FEFD;
    --dark-blue: #192734
}

.star {
    color: var(--yellow);
}

.full-star {
    color: var(--yellow);
}

.input-error {
    border: 0;
    outline: 0;
    border: 1px solid red !important;
}

.margin-left-auto{
    margin-left: auto;
}