@import '../../style-variables/variables.css';

.create-twitt-container {
    margin: 5% 0;
    display: flex;
    justify-content: center;
}

.create-twitt-container form {
    width: 80%;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.create-twitt-container form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border: 1px solid var(--grey);
    padding: 3%;
    border-radius: 5px;
}

.img-label {
   font-size: 1.5rem;
   bottom: 0;
   margin-top: 3%;
}

.create-tw-btn-img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.characters-container {
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
}


.filename-container {
    display: flex;
    align-items: center;
}

.filename-container span {
    display: flex;
    align-items: center;
}

.delete-file {
    color: var(--purple)!important;   
    font-size: 1.2rem;
    margin-left: 10px;
}

