@import '../../style-variables//variables.css';

.home-twitts-container {
    padding: 3% 5%;

}

.twitts-list-container {
    margin-top: 5%;
    overflow-y: scroll;
}

.twitts-list-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

.twitts-list-container::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.twitts-list-container::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.load-more-twitts-container {
    display: flex;
    justify-content: center;
}

.load-more-twitts {
    cursor: pointer;
    width: 70%;
    border: 1px solid var(--purple);
    padding: 2% 0;
    margin-top: 3%;
}