.comment-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    width: 90%;
    padding: 5% 0;
}

.comment-content-container {
    height: 100%;
    display: flex;
    padding: 0 2%;
}

.comment-card-first-column-container {
    width: 25%;
    display: flex;
    align-items: center;
}

.comment-username-container {
    font-weight: 700;
    font-size: 0.875rem;
}

.comment-card-second-column-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.comment-desc-container {
    font-size: 0.875rem;
}
