@import './style-variables/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#root {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.purple-thing {
  color: var(--purple);
}
